{% load thumbnail %}
{% load humanize %}

{% if comments %}
{% for comment in comments %}
<hr>
<div class="row">
  <div class="col-sm-12 status_comment">
  {% thumbnail comment.user.user_profile.profile_picture "x30" as im %}
    <img class="img-rounded" src="{{ im.url }}">
  {% endthumbnail %}
  <a href="{% url 'view_profile' comment.user.username %}">
    {{ comment.user.get_full_name }}
  </a>
   - <span id="comment_text">{{ comment.text }}</span><br /><br />
  {{ comment.likes }} likes • <a href="">Like</a> • {{ comment.post_date|naturaltime }}
  </div>
</div>
{% endfor %}
{% endif %}
