{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load thumbnail %}

{% block header %}
  <br />
  {% if not user.is_authenticated %}
  <div class="jumbotron text-center">
      <h1>Welcome to TSN<br />(The Social Network)</h1>
  </div>
  {% endif %}
{% endblock header %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-sm-5">
      <p>Hey {% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}, something on your mind?</p>
      <form method="post" action="">
        {% csrf_token %}
        {{ post_form|crispy }}
        <button type="submit" class="btn btn-primary pull-right post_button">Post</button>
      </form>
    </div>
  </div>

  <br />
  {% if posts %}
  {% for post in posts %}
  <div class="row">
    <div class="col-sm-5 status_post well">
      {% thumbnail post.user_profile.profile_picture "x50" as im %}
        <img src="{{ im.url }}">
      {% endthumbnail %}
      {{ post.user_profile.user.get_full_name }} - {{ post.post_date|naturaltime }}
      <br /><br />
      <span id="post_text">{{ post.text }}</span><br /><br />
      <a href="">Like</a> • <a href="">Comment</a>
      <hr />
      {{ post.likes }} likes
      <br /><br />
      <form method="post" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button type="submit" class="btn btn-primary btn-sm pull-right">Comment</button>
      </form>
      <br /><br />
      {% for comment in comments %}
      {% if comment.status_post == post %}
      <hr>
      <div class="row">
        <div class="col-sm-12 status_comment">
        {% thumbnail comment.user_profile.profile_picture "x30" as im %}
          <img src="{{ im.url }}">
        {% endthumbnail %}
        {{ comment.user_profile.user.get_full_name }} - <span id="comment_text">{{ comment.text }}</span><br />
        {{ comment.likes }} likes • <a href="">Like</a> • {{ comment.post_date|naturaltime }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% else %}
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <h3>The Social Network (TSN) is the social network of the future. If you aren't a part of it yet, you're missing out. But have no fear, it's not too late. <a id="register" href="{% url 'registration_register' %}">Register</a> today!</h3>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <h3>If you're already registered, then all of that doesn't pertain to you. In fact, we here at TSN really appreciate you. So go ahead and <a id="login" href="{% url 'auth_login' %}">login</a>.</h3>
    </div>
  </div>
  {% endif %}
{% endblock content %}
