{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block header %}
  <br />
  {% if not user.is_authenticated %}
  <div class="jumbotron text-center">
      <h1>Welcome to TSN<br />(The Social Network)</h1>
  </div>
  {% endif %}
{% endblock header %}

{% block content %}
  {% if user.is_authenticated %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p>Hey {% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}, something on your mind?</p>
      <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary pull-right post_button">Post</button>
      </form>
    </div>
  </div>

  <br />
  {% if posts %}
  {% for post in posts %}
  <div class="col-sm-6 col-sm-offset-3 well status_post">
    <div class="row">
      {{ post.user.get_full_name }}<br />
      {{ post.post_date|naturaltime }}
    </div>
    <span id="post_text">{{ post.text }}</span><br /><br />
    <a href="">Like</a> • <a href="">Comment</a>
    <hr />
      {{ post.likes }} likes
  </div>
  {% endfor %}
  {% endif %}

  {% else %}
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <h3>The Social Network (TSN) is the social network of the future. If you aren't a part of it yet, you're missing out. But have no fear, it's not too late. <a id="register" href="{% url 'registration_register' %}">Register</a> today!</h3>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <h3>If you're already registered, then all of that doesn't pertain to you. In fact, we here at TSN really appreciate you. So go ahead and <a id="login" href="{% url 'auth_login' %}">login</a>.</h3>
    </div>
  </div>
  {% endif %}
{% endblock content %}
